body,
html {
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.top-section-wrapper {
    overflow: hidden;
    background-color: #001D37;
    padding-left: 16px;
    padding-right: 16px;
}

.actual-top-content {
    z-index: 2;
    position: relative;
}

.top-section {
    background-color: #001D37;
    color: white;
    /*add some vertical space*/
    padding-top: 139px;
    padding-bottom: 67px;
    max-width: 1066px;
    margin: 0 auto;
    position: relative;
}

.top-section h1 {
    font-size: 6.25rem;
    margin: 0;
    line-height: 97.3%;
    max-width: 525px;
}

.intro-text {
    font-size: 1.25rem;
    line-height: 169.3%;
    max-width: 435px;
    margin: 1rem 0;
}

.intro-buttons {
    margin-bottom: 129px;
}

.our-btn {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #475AFF;
    border: 2px solid #475AFF;
    color: #FFF;
    text-decoration: none;
    padding: 14px 40px;
    border-radius: 71px;
}

.our-btn--outline {
    background-color: transparent;
    border: 2px solid white;
}

.utility-mr {
    margin-right: 11px;
}

.intro-feature {
    padding: 25px 33px;
    border: 1px solid rgba(255, 255, 255, .24);
}

.intro-features {
    /* create multiple columns layouts*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
}

.intro-feature h2 {
    font-size: 1.5rem;
    margin: 44px 0 7px 0;
}

.intro-feature p {
    margin: 0;
    font-size: 1.0625rem;
}

.circle {
    position: absolute;
    width: 617px;
    height: 617px;
    left: 1028px;
    top: 62px;
    background: #D660FF;
    filter: blur(150px);
    opacity: .85;
}

.circle-blue {
    position: absolute;
    width: 617px;
    height: 617px;
    left: 67px;
    top: -360px;
    background: #6079FF;
    filter: blur(150px);
    opacity: .85;
}

.page-section {
    background-color: #FFF;
    padding: 131px 16px;
}

/* use page section inner to center when we view
in full screen*/
.page-section-inner {
    max-width: 1066px;
    margin: 0 auto;
    /* zero vertical margin, but auto center horizontal*/
}

.page-section-title {
    font-size: 5.31rem;
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    color: #000000;
}

.pet-filter {
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #9F9F9F;
}

.pet-filter button {
    background-color: transparent;
    border: none;
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 400;
    color: #9F9F9F;
    padding: 0px 15px;
}

.site-footer {
    margin: 0;
    padding: 0 0 65px 0;
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 97.3%;
    text-align: center;
    color: #A6A6A6;
}

.list-of-pets {
    display: grid;
    /* create 2 columns where all sizes are equal */
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 28px;
}

.pet-card {
    display: grid;
    grid-template-columns: 165px 1fr;
    overflow: hidden;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

}

.pet-card-photo {
    order: 1;
    grid-row: 1;
}

.pet-card-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.pet-card-text {
    padding: 21px 29px;
}

.pet-card-text h3 {
    margin: 0 0 14px 0;
    width: 107px;
    height: 25px;
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 97.3%;
    color: #000000;
}

.pet-description {
    margin: 0;
    color: #626262;
    line-height: 150%;
}

.pet-age {
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13.6px;
    line-height: 150%;
    color: #A2A2A2;
    margin: 18px 0 0 0;
}